<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="__STATIC__/plugins/layui/css/layui.css">
    <script type="text/javascript" src="__STATIC__/plugins/layui/layui.js"></script>
</head>
<body  style="padding:10px">
    <form class="layui-form">
        <input type="hidden" value="{$data.item.id}" name="id">
        <input type="hidden" value="0" name="type">
        <div class="layui-form-item">
            <label class="layui-form-label">标题</label>
            <div class="layui-input-inline">
                <input type="text" class="layui-input" name="title" value="{$data.item.title}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">URL</label>
            <div class="layui-input-inline">
                <input type="text" class="layui-input" name="url" value="{$data.item.url}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">图片上传</label>
            <div class="layui-input-inline">
                <button type="button" class="layui-btn layui-btn-sm" id="upload_img" onclick="return false;">
                    <i class="layui-icon">&#xe67c;</i>上传图片
                </button>
                <img <?php if($data['item']['img']){  echo 'src="'.$data['item']['img'].'"';}?> alt="" id="pre_img" style="height:30px">
                <input type="hidden" name="img" value="{$data.item.img}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">排序</label>
            <div class="layui-input-inline">
                <input type="text" class="layui-input" name="sort" value="{$data.item.sort}">
            </div>
        </div>
    </form>
    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn" onclick="save()">保存</button>
        </div>
    </div>
</body>
</html>
<script>
    layui.use(['layer','form','upload'],function(){
        form=layui.form;
        layer=layui.layer;
        $=layui.jquery;
        var upload = layui.upload;
        //执行实例
        var uploadInst = upload.render({
            elem: '#upload_img' //绑定元素
            ,url: '/admin.php/admins/Video/upload_img' //上传接口
            ,accept:'images'
            ,done: function(res){
                if(res.code>0){
                    layer.alert(res.msg,{icon:2});
                }else{
                    $('#pre_img').attr('src',res.msg);
                    $.trim($('input[name="img"]').val(res.msg));
                }
            }
            ,error: function(){
                //请求异常回调
            }
        });
    });
    function save(){
        var id=parseInt($('input[name="id"]').val());
        var title=$.trim($('input[name="title"]').val());
        var url=$.trim($('input[name="url"]').val());
        var img=$.trim($('input[name="img"]').val());
        if(title==''){
            layer.alert('请输入幻灯片名称',{icon:2,'anim':6});
            return;
        }
        if(url==''){
            layer.alert('请输入幻灯片地址',{icon:2,'anim':6});
            return;
        }if(img==''){
            layer.alert('没有上传图片',{icon:2,'anim':6});
            return;
        }
        $.post('/admin.php/admins/Slide/save',$('form').serialize(),function (res){
            if(res.code>0){
                layer.alert(res.msg,{icon:2,'anim':2});
            }else{
                layer.msg(res.msg);
                setTimeout(function(){
                    parent.window.location.href='/admin.php/admins/Slide/index'
                },1000)
            }
        },'json')
    }
</script>